.nav>li>a:hover{
	border-radius: 0px !important;
}
ul{
	list-style-type:none;
	background-color:#001;
	color:white}
ul li{
	margin-right:10px
}
.image{
	background-color:white;
	height:300px;
	width:248px}
body{
	background-color:white}
.font-style{
	font-size:50px;
	font-style:bold;
	font-family:fantasy}
.font-caption{
	font-size:20px;
	font-style: normal;
	font-weight: 100;
	font-family:fantasy}
.top-border{
	position:relative;
	height:70px}
.jumbotron{
	padding-top:10px;
	padding-bottom:10px;
	background-color:#c8c8c8}
	.jumbotron .picc {
max-width: 100%;
margin-top: 90px;
}
#image{
	height:280px;
	margin-top:10px}
.fixed-left-contact{
	position:fixed;
	left:0;
	z-index:100;
	width:30px;
	height:100%;
	background-color:white
}
.fixed-left-contact p {
position: absolute;
left: -109px;
top: 50%;
white-space: nowrap;
letter-spacing: 2px;
transform: rotate(-90deg);
}
.right-br{
	top:0;
	right:0;
	width:30px;
	height:100%;
	background-color:white;
	z-index:100;
	position:fixed}
.fixed-right-socials{
	position:fixed;
	right:8px;
	top:45%;
	z-index:9}
h2{
	text-align:center;
	font-style:bold;
	line-height:25px;
	word-spacing:5px}
#footer{
	border-top: 1px solid grey;
	padding: 10px;
	font-size: 18px;}
footer{
	padding:10px}
.fixed-right-socials ul{
	list-style:none;
	padding:0}
.fixed-right-socials li{
	margin:9px 0}
#image{
	background-image: url(code.jpeg);
}
.header{
	background-color: ;
}
#menu{
	float: left;
	position: fixed;
	left: 0;
	z-index: 1000;
	background-color: white;
	box-shadow:4px 4px 3px rgba(0, 0, 0, .5);
	padding: 20px;
	width: 100%;
	font-size: 25px;
}
#menu-content{
	padding: 10px;	
	position: fixed;
	font-size: 15px;
	width: 97%;
}
nav>li>a:hover{
	border-radius: 0px !important;
}
.glyph{
	border-radius: 10px;
	    position: fixed;
	    padding: 10px;
	    background-color: #d3d3d3;
	    z-index: 10000;
	    width: 50px;
	    height: 170px;
	    border: 2px solid black;
	    right: 0;
	    top: 45%;
}
.glyphs{
	width: 30px;
	z-index: 1000;
	height: 30px;
	position: absolute;
	cursor: pointer;
}
.fb{
	background-image: url("../images/fb-art.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}
.git{
	background-image: url("../images/github-512.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}
.goo{
	background-image: url("../images/google-plus-new-icon-logo.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}
.skype{
	background-image: url("../images/skype-icon-2.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}
.gmail{
	background-image: url("../images/gmail.png");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:380px) {
	#menu{display: none;}
}
.container-fluid{
	margin-left: 30px;
}
body{
	width: 100%;
}
.bgg{
	background-image: url("../images/home.jpe");
	color: white;
	height:500px;
	width: 100%;
}
#blog-body {
	text-align: center;
}
.spaces{
	margin-left: 10px;
}
#menu-content>.nav>li{
	margin-left: 6px;
}
.address-space{
	    display: block;
	    font-size: x-large;
	    font-weight: 400;
}